.cards {
    background-color: white;
    height: 18.2rem;
    width: 25rem;
    padding: 2rem;
    margin: 3rem 0;
    }

.cards__title {
    font-size: 2rem;
    margin-bottom: 1.8rem;
    }

.cards__subtitle {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    }
.cards__temperature {
    display: flex;
    }

.temperature__icon {
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 6rem;
    width: 6rem;
    }

.temperatute__text {
    font-size: 4rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 1rem;
    }