.card {
    background-color: white;
    height: 18.2rem;
    width: 25rem;
    padding: 2rem;
    margin: 1.1rem 0;
    margin-right: 2.2rem;
    }

.card__title {
    font-size: 2rem;
    margin-bottom: 1.8rem;
    }

.card__subtitle {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    }
.card__temperature {
    display: flex;
    }

.temperature__icon {
    height: 7rem;
    width: 7rem;
    }

.temperatute__text {
    font-size: 3.2rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem;
    }
